<form method="post" action="<%= people_form_action(@person) %>" 
    class="<%= people_form_class(@person) %>" 
    id="<%= people_form_id(@person) %>">

    <input type="hidden" name="_method" 
        value="<%= people_form_method(@person) %>" />

    <div class="field">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="<%= @person.first_name %>" />
    </div>

    <div class="field">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="<%= @person.last_name %>" />
    </div>

    <div class="field">
        <label for="birthdate">Birthdate:</label>
        <input type="text" name="birthdate" value="<%= @person.birthdate %>" />
    </div>

	<div class="field">
		<input class="btn btn-primary" type="submit" />
	</div>
	<div class="error field">
		<hr />
		<%= @errors %>
	</div>

</form>
