<div class="header">
    <h1 class="page-title">People</h1>
</div>

<hr />

<table>
    <thead>
        <th class="table-header">Name</th>
        <th class="table-header">Birthdate</th>
    </thead>
    <tbody>
        <% @people.each do |person| %>
            <tr>
                <td>
                    <a href="<%= "/people/#{person.id}" %>">
                        <%= "#{person.first_name} #{person.last_name}" %>
                    </a>
                </td>
                <td>
                    <%= "#{person.birthdate}" %>
                </td>
                <td>
                    <a href="<%= "/people/#{person.id}/edit" %>" 
                        class="non-link">Edit</a>
                </td>
                <td>
                    <form action="<%= "/people/#{person.id}" %>" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="submit" class="btn btn-default" value="Delete" />
                    </form>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
