<div class="header">
    <h1 class="page-title"><%= @person.first_name %> <%= @person.last_name %>,</h1>
</div>

<hr />

<p class="field"><%= @message %>
<p class="field">This is based on your birthdate: <%= @person.birthdate %></p>

<a href="/">Go to main page</a>
