body {
    font-family: "serif", serif;
    font-size: 20px;
}

h2 {
    color: #D187DE;
}

td, th {
    padding-right: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.non-link {
    color: black;
}

.page-title {
    color: #D187DE;
    font-size: 50px;
    text-align: center;
}
.page-title-small {
    color: #D187DE;
    font-size: 35px;
}

.table-header {
    font-size: 30px;
}

.error {
    color: red;
    font-weight: bold;
}

.new-person {
}

.edit-person {
}

.title-field {
    font-size: 40px;
    font-weight: bold;
}

.field {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
