<div class="header">
    <h1 class="page-title">Numerology Calculator 
        <small class="page-title-small">A Skillcrush Project</small></h1>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <p>Pythagoras and other philosophers of the time believed that because mathematical concepts were more "practical" (easier to regulate and classify) than physical ones, they had greater actuality. St. Augustine of Hippo (A.D. 354–430) wrote "Numbers are the Universal language offered by the deity to humans as confirmation of the truth." Similar to Pythagoras, he too believed that everything had numerical relationships and it was up to the mind to seek and investigate the secrets of these relationships or have them revealed by divine grace. - Wikipedia</p>
    </div>
    <form class="col-md-3" method="post" action="/">
        <div class="form-group">
            <h2>Calculate Your Numerology Number</h2>
            <label for="birthdate">Enter your birthdate:</label> 
            <input class="form-control" name="birthdate" type="text"><br>
            <% if @error %>
                <p class="error"><%= @error %></p>
            <% end %>
        </div>
        <input type="submit" class="btn btn-default">
        or
        <button class="btn btn-default"><a href="people/new" class="non-link">Add a Person</a></button>
    </form>
    <div class="col-md-4">
        <h4>About the Developer</h4>
        <div class="col-md-2">
            <img src="https://pbs.twimg.com/profile_images/501436093527388160/5uXeJa41_normal.jpeg">
        </div>
        <div class="col-md-10">
            <p>I'm a newbie to tech but I'm hoping to make it my career. I come from the field of healthcare but I needed something more challenging so I found the perfect fit: programming!</p>
        </div>
    </div>

</div>
