<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=
        "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Numerology App</title>
    <link rel="stylesheet" href="/css/people.css">
</head>

<body>

    <div class="container">
        <%= yield %>
    </div><!-- /.container -->
</body>
</html>

